* {
    text-align: center;
    font-family: Helvetica;
}

.header {
  background-image: url(../pics/the-flatiron-building.png);
}

.NYbg {
  background-image: url(../pics/the-flatiron-building.png);
}

.footer, .footer h6, .footer p {
display: inline;
background-color: dimgray;
width: 100%;
}
